#invoice {
  position: relative;
  /* top: 0px;
  left: 0px; */
  z-index: -1;
}

#invoiceDateAndNo {
  position: relative;
  top: -943px;
  left: 589px;
  width: 178px;
}

#billingAddress {
  position: relative;
  top: -881px;
  left: 65px;
  width: 270px;
  /* height: 90px; */
}

#shippingAddress {
  position: relative;
  top: -982px;
  left: 455px;
  width: 300px;
  /* height: 90px; */
  /* font-family: 'Times New Roman', Times, serif; */
  z-index: 1;
}

#invoiceOptions {
  position: relative;
  top: -914px;
  width: 750px;
}

#Items {
  position: relative;
  top: -870px;
  left: 65px;
  width: 700px;
}

#finalPrice {
  position: relative;
  top: -830px;
  left: 600px;
  width: 160px;
  height: 30px;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
}

#phoneAndEmail {
  position: relative;
  margin-top: -800px;
  left: 65px;
  width: 453px;
}

.no-outline {
  background-color: #d1d1d1;
  font-size: 13px;
  /* border: none; */
}

#invoiceDateAndNo,
#billingAddress,
#shippingAddress,
#invoiceOptions,
#Items,
#finalPrice,
#phoneAndEmail {
  /* overflow: hidden !important;
  text-overflow: ellipsis !important; */
  /* word-wrap: break-word !important; */
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #e59500; */
  /* opacity: 0.5; */
}
