table {
  table-layout: fixed;
  white-space: nowrap;
}

th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.tdCenter {
  text-align: center;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: white;
}

th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #212529 !important;
  color: white !important;
}

.deleteButton {
  height: 32px;
  width: 32px;
  background: none;
  border-style: none;
  -webkit-text-fill-color: transparent;
  /* background-color: rgba(255, 0, 0, 0.3) !important; */
  background-image: url('./../icons/delete.png');
  background-size: 29px 29px;
  background-repeat: no-repeat;
}
