# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/archive
/images
/icons
/.sync
/uploads
config.php
login.php
/JS/smtp.js
/JS/Email-Invoices.js
/JS/apiKey.js

# syncing
sync.ffs_db